body{
    background-color: aquamarine;
}


body {
    font-family: Felipa, felipa;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color:goldenrod;
    color: yellow;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section styles */
section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

/* Portfolio styles */
.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
}

/* Contact form styles */
form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: coral;
    color: burlywood;
    padding: 20px 0;
    text-align: center;
}